{{ if and .IsPage (not .Params.disable_comments) }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

<!-- <script src="./js/math-code.js"></script> -->
<!-- <script src="//yihui.org/js/math-code.js"></script> -->
<!-- Just one possible MathJax CDN below. You may use others. -->
<script async
  src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!--
<script src="//yihui.name/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script async src="//yihui.name/js/center-img.js"></script>
{{ template "_internal/google_analytics.html" . }} 
-->